@font-face {
  font-family: "Amatic";
  src: url(../fonts/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: "Amatic Bold";
  src: url(../fonts/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: "Amalfi";
  src: url(../fonts/Amalfi-Regular.ttf);
}

@font-face {
  font-family: "Capsuula";
  src: url(../fonts/Capsuula.ttf);
}