.home {
  background: #efefeb url(../images/home_bg.jpg) center center / cover no-repeat;
  box-sizing: border-box;
  text-align: center;
  font-family: "Amalfi";
  justify-content: center;

  h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    font-size: 10rem;
  }

  p {
    margin: -4rem 0 0;
    font-size: 6.2rem;
  }

  @media (max-width: 600px) and (orientation: portrait) {
    background: #efefeb url(../images/mobile_bg.jpg) center 60px/100% calc(100% - 60px) no-repeat fixed;
    h1 { font-size: 7rem; }
    p { margin-top: -2rem; font-size: 4.2rem; }
  }
}

.page {
  background: #efefeb url(../images/page_bg.jpg) center center / cover no-repeat fixed;
  font-family: "Capsuula";
  line-height: 1.3;
  padding: 3rem 5rem;
  margin-top: 60px;

  @media (max-width: 600px) and (orientation: portrait) {
    background: #efefeb url(../images/mobile_bg.jpg) center 60px/100% calc(100% - 60px) no-repeat fixed;
    padding: 4rem;
  }

  p {
    margin: 0 auto 1rem;
    position: relative;
    z-index: 1;
  }

  h1, h2 {
    font-weight: normal;
    line-height: 2;
    margin: 0 auto;
  }

  h1, h2, p {
    font-size: 1.6rem;
    max-width: 44rem;
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #efefeb;
      filter: blur(5px);
      position: absolute;
      z-index: -1;
    }
  }
}
