/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
  width: calc(33.333% - 10px);
}

.grid-item {
  float: left;
  margin-bottom: 10px;
}

.grid-item img {
  display: block;
  width: 100%;
}